@charset "UTF-8";

.font { font-size: 20px }
.font-b {font-size: 20px; color : #3367d6; }
.font-g {font-size: 20px; color : #008000; }
.font-r {font-size: 20px; color : #ff0000; }
.font-o {font-size: 20px; color : #eb6b34; }



/* 버튼 만들어줄 스타일이 필요하다! */
.btnSet {
	margin: 20px auto;
}
a.btn-fill, a.btn-empty {
	
	height: 28px; padding: 3px 15px;
	border: 1px solid #a181de; 
/* 	border-radius: 3px; */
/* 	box-shadow: 2px 2px 3px #6a438f; */
}

/* 채워진 버튼 하나 */
a.btn-fill {
	cursor: pointer;
	background-color:#a181de; color: #fff;
}
/* 안채워진 버튼! */
a.btn-empty {
	cursor: pointer;
	background-color: #fff; color: #9262bf;
}



.w-px40 { width:40px }
.w-px50 { width:50px }
.w-px60 { width:60px }
.w-px70 { width:70px }
.w-px80 { width:80px }
.w-px90 { width:90px }
.w-px100 { width:100px }
.w-px120 { width:120px }
.w-px140 { width:140px }
.w-px160 { width:160px }
.w-px180 { width:180px }
.w-px200 { width:200px }
.w-px250 { width:250px }
.w-px300 { width:300px }
.w-px350 { width:350px }
.w-px400 { width:400px }
.w-px500 { width:500px }
.w-px600 { width:600px }
.w-px800 { width:800px }
.w-px1000 { width:1000px }
.w-px1200 { width:1200px }
