@charset "UTF-8";

.font { font-size: 20px }
.font-b {font-size: 20px; color : #3367d6; }
.font-g {font-size: 20px; color : #008000; }
.font-r {font-size: 20px; color : #ff0000; }
.font-o {font-size: 20px; color : #eb6b34; }


a:link, a:visited{ text-decoration: none; color:  inherit;}

.tb-wrap {height: 496px; overflow-y:auto; margin: 0 auto; } /* 스크롤 만들기 */
.tb-wrap .tb-list {width: 100%}


#container { padding: 20px 0 }

ul { 
	list-style-type: none;
	align-items: center;
	padding: 0;
}

.h3 {
	text-align:center;
	color : black;
	font-size: 45px;
}

table { margin: 0 auto;  border-collapse:collapse; }
table tr { height: 46px; }
table.tb-list tr { height: 38px; }
table th, table td { border: 1px solid black; }
table td { padding: 8px 10px; }
table th { background-color:#ffa570; }
table td a:hover {font-weight: bold; color: #F25C05;}



#list-top {
	margin: 0 auto;
	display: flex; 
	justify-content: space-between;
}

#list-top ul { display: flex;} 
#list-top ul li:not(:first-child) { margin-left: 5px} 


.center {
	position: absolute;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%)	
}


.left { text-align: left }
.right { text-align: right }
.full { width: calc(100% - 22px) }


/* 클래스도 추가해줘서 안보이게 처리해주기 */
#delete, #attach-file, #delete-file, .attach-file, .delete-file { display:none; }
.date + #delete { position:relative; right: 30px; } /*처음엔 안보이게  위치는 태그를 기준으로 relative*/
#preview img, .preview img { max-width:100px; }


.items-center {display: flex; align-items: center;}
.items-center * {margin-right: 5px}
table td .items-center:not(:first-child) {margin-top: 5px}



/* 버튼 만들어줄 스타일이 필요하다! */
.btnSet {
	margin: 20px auto;
}
a.btn-fill, a.btn-empty {
	
	height: 28px; padding: 3px 15px;
	border: 1px solid #a181de; 
/* 	border-radius: 3px; */
/* 	box-shadow: 2px 2px 3px #6a438f; */
}

/* 채워진 버튼 하나 */
a.btn-fill {
	cursor: pointer;
	background-color:#a181de; color: #fff;
}
/* 안채워진 버튼! */
a.btn-empty {
	cursor: pointer;
	background-color: #fff; color: #9262bf;
}



.w-pct90 { width:90% }
.w-pct80 { width:80% }
.w-pct70 { width:70% }
.w-pct60 { width:60% }
.w-pct50 { width:50% }
.w-pct40 { width:40% }

.w-px40 { width:40px }
.w-px50 { width:50px }
.w-px60 { width:60px }
.w-px70 { width:70px }
.w-px80 { width:80px }
.w-px90 { width:90px }
.w-px100 { width:100px }
.w-px120 { width:120px }
.w-px140 { width:140px }
.w-px160 { width:160px }
.w-px180 { width:180px }
.w-px200 { width:200px }
.w-px250 { width:250px }
.w-px300 { width:300px }
.w-px350 { width:350px }
.w-px400 { width:400px }
.w-px500 { width:500px }
.w-px600 { width:600px }
.w-px800 { width:800px }
.w-px1000 { width:1000px }
.w-px1200 { width:1200px }
