<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderinfo">

<insert id="order_info_insert">
insert into order_info(CATEGORY_CODE, STORE_CODE, ID, ORDER_DATE, PHONE, MENU_CNT, PRICE, ORDER_STATE, ORDER_TIME, ORDER_PEPLE)
VALUES(#{category_code}, #{store_code}, #{id}, #{order_date}, #{phone}, #{menu_cnt}, #{price}, #{order_state}, #{order_time}, #{order_peple})
</insert>

</mapper>