<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="andSearch">

<!-- 북마크 추가 -->
<select id="list" resultType="andstore.AndSearchVO">
	SELECT menu_name, store_name
	FROM menu_info m LEFT OUTER JOIN store_info s
	ON m.store_code = s.store_code
	GROUP BY menu_name, store_name
</select>
</mapper>