<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin_review">


<!--신고들어온 가게들 조회 -->
<select id="admin_review_list" resultType="home.ReviewVO">
select * from common_table ct left outer join review r
on ct.star_code = r.star_code
left outer join store_info si
on r.store_code = si.store_code
left outer join member m
on m.id = si.id
order by ct.code_grp desc

</select>

<!-- 삭제완료 -->
<delete id="delete">
delete from review
where star_code = #{star_code}
</delete>

<!-- 상태 바꾸게 하는거 공통테이블에 -->
<delete id="status">
delete from common_table
where star_code = #{star_code}
</delete>
</mapper>