<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="home">


<!-- 가게 리뷰 신고 중복 확인 jk -->
<select id="admin_detail" resultType="Integer">
select count(*) from common_table where star_code = #{star_code}
</select>


<!-- 내 가게 달린 리뷰 관리자에게 삭제처리 요청jk -->
<insert id="admin_insert">
insert into common_table( star_code)
values ( #{star_code} )
</insert>


<!-- 상세 보기 가게 리뷰 목록 -->
<select id="store_review_list" resultType="home.ReviewVO">
select r.*, m.nickname, m.*, r.writedate  from review r left outer join member m 
on r.id = m.id
where store_code = #{store_code}
</select>



<!-- 입점한가게 메뉴 이미지 -->
<select id="store_menu"   resultType="home.StoreInfoVO">
select * from store_info si left outer join menu_info mi
on mi.store_code = si.store_code
where mi.store_code = #{store_code}
and menu_code between 1 and 2
</select>

<!-- 입점한가게 상세 페이지 jk -->
<select id="store_detail" resultType="home.StoreInfoVO">
select si.*, lo.*,  (select round(avg(star_rating),1) star_rating from review r where store_code =1) star_rating,
(select round(avg(taste), 1) taste from review where store_code =#{store_code}) taste,
(select round(avg(mood),1) mood from review r where store_code =#{store_code} ) mood,
(select round(avg(kind),1) kind from review  where store_code =#{store_code} ) kind,
(select round(avg(clean),1) clean from review where store_code =#{store_code} ) clean,
(select count(store_code) review_cnt from review where store_code =#{store_code} ) review_cnt
from store_info si left outer join store_location lo
on si.store_code = lo.store_code
where si.store_code = #{store_code}
</select>


<!-- 입점한가게 리스트로 뿌리기 jk -->
<select id="store_list" resultType="home.StoreInfoVO">
select si.store_code, si.store_name, si.store_addr, si.store_image
    , si.store_comment , lo.store_lat, lo.store_lon
    , round(avg(r.star_rating),1) star_rating,  count(r.store_code) review_cnt 
from store_info si left outer join review r 
on si.store_code = r.store_code 
left outer join store_location lo
on si.store_code = lo.store_code
GROUP BY si.store_code, si.store_name, si.store_addr
       , si.store_image, si.store_comment 
       , lo.store_lat, lo.store_lon
</select>
</mapper>