<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="home">

<!-- 입점한가게 뽑아오려고 진행 중 jk -->
<select id="store_list" resultType="home.StoreInfoVO">
select si.store_name, si.store_addr, si.store_image, si.store_comment, round(avg(r.star_rating),1) star_rating,  count(r.store_code) review_cnt 
from store_info si left outer join review r 
on si.id = r.id 
GROUP BY  si.store_name, si.store_addr, si.store_image, si.store_comment
</select>
</mapper>