<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="enter">


<!-- 입점수락한 신청사항은 진행상황을 2로 만들어 출력하지 않게 한다 -->
<update id="enter_status" >
UPDATE entering SET enter_status = 2
where id = #{id}
</update>



<!-- 입점신청 한 회원에게 가게 만들어주기 -->
<insert id="store_insert">
insert into store_info ( store_name, store_tel, open_close, store_addr, store_comment, store_image, store_logo, store_category, id, store_post, addr_more)
values (#{store_name}, #{b_phone}, '09 ~ 18', #{store_addr}, '가게 소개', '가게 이미지', '가게로고', 1, #{id}, #{post}, #{store_addr_more})
</insert>

<!-- store_code
store_name
store_tel
open_close
store_addr
store_comment
store_image
store_logo
store_category
id
store_post
addr_more -->


<!-- 입점수락한 회원의 매니저 Y로 변경 -->
<update id="member_manager" >
UPDATE member SET manager = 'Y'
where id = #{id}
</update>

<!-- 입점신청 삭제처리 -->
<delete id="store_delete">
 DELETE FROM entering WHERE id = #{id}
</delete>


<!-- 해당 아이디의 상세 신청내역 조회 -->
<select id='detail' resultType='enter.jk.EnterVO'>
select *
from entering e left outer join member m  on e.id = m.id
where e.id= #{id}
</select>



<!-- 매니저모드 입점신청한 가게 불러오기 - ssb -->
<select id="admin_store_list" resultType="enter.jk.EnterVO">
select *
from entering
where enter_status = 1
</select>



<!-- 입점신청서 insert jk -->
<insert id="insert">
insert into entering (b_num, store_addr, b_name, b_phone, b_enter_copy, b_enter_copy2
					  ,	store_name, enter_status, id )
values (#{b_num}, #{store_addr},#{b_name}, #{b_phone}
	     , #{b_enter_copy}, #{b_enter_copy2}, #{store_name}, '1', 1)

</insert>

<!-- 사업자등록번호 중복체크 jk -->
<select id="b_num_check" resultType="integer">
select count(*) from B_NUM_CHK where b_num = #{b_num}
</select>




</mapper>